.app{
    height: 100vh;


    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightsalmon;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;//to fix each of the section in the screens
        scrollbar-width: none;//to hide the scroll bar for firefox

        &::-webkit-scrollbar{ // to hide scroll bar in other browser..
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;// when u scroll it will take you to the start of the each section
        }
    }
}
